<!DOCTYPE HTML>
<html>
	<head>
		<style>
			body {{
				width: 100%;
				text-align: center;
			}}
			div {{
				margin: 0 auto;
			}}
			h1 {{
				font-size: 1.5em;
				margin-top: 2em;
				margin-bottom: 0em;
			}}
			td, th {{
				text-align: center;
			}}
			.revenue, .margin {{
				width: 200px;
				height: 75px;
				border: 1px solid black;
			}}
			.revenue {{
				background-color: #16d1f0;
			}}
			.margin {{
				background-color: #fedd00;
			}}
			table {{
				margin: 0 auto;
			}}
			img.pie {{
				width: 400px;
				margin: 0;
				padding: 0;
			}}
		</style>
	</head>
	<body>
		<div><h2>PMP Status for {date} - ${total_revenue}</h2></div>
		<table class="overall">
			<tr>
				<td class="revenue">
					${total_revenue}
				</td>
				<td class="margin">
					${total_margin}
				</td>
			</tr>
			<tr>
				<th>
					Revenue
				</th>
				<th>
					Margin
				</th>
			</tr>
		</table>
		<p />
		<div><h1>Top Performing Deals</h1></div>
		<table>
			<tr>
				<td>
					<img class="pie" src="{{ pie:top_revenue }}" />
				</td>
				<td>
					<img class="pie" src="{{ pie:top_margin }}" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<table>
					{top_legend}
					</table>
				</td>
			</tr>
		</table>
		<p />
		<div><h1>Last 4 Days</h1></div>
		<table>
			<tr>
				<td><img src="{{ bar:total }}" /></td>
			</tr>
		</table>
	</body>
</html>
