<!DOCTYPE HTML>
<html>
	<head>
		<style>
			body {{
				width: 100%;
				text-align: center;
			}}
			div {{
				margin: 0 auto;
			}}
			h1 {{
				font-size: 1.5em;
				margin-top: 2em;
				margin-bottom: 0em;
			}}
			td, th {{
				text-align: center;
			}}
			.revenue, .margin {{
				width: 200px;
				height: 75px;
				border: 1px solid black;
			}}
			.revenue {{
				background-color: #16d1f0;
			}}
			.margin {{
				background-color: #fedd00;
			}}
			table {{
				margin: 0 auto;
			}}
			img {{
				width: 400px;
				margin: 0;
				padding: 0;
			}}
		</style>
	</head>
	<body>
		<div><h2>S2S Status for {date}</h2></div>
		<img src="{{ bar:ssp_revenue }}" />
		<p />
		<div><h1>User Matching</h1></div>
		<table>
			<tr>
				<td><img src="{{ bar:user_matches }}" /></td>
				<td><img src="{{ line:user_matches_4 }}" /></td>
			</tr>
			<tr>
				<td><img src="{{ bar:user_matches_pub }}" /></td>
				<td><img src="{{ line:user_matches_4_pub }}" /></td>
			</tr>
		</table>
		<p />
		<div><h1>Publisher Performances</h1></div>
		<table>
			<tr>
				<td><img src="{{ bar:high_perf_res }}" /></td>
				<td><img src="{{ bar:low_perf_res }}" /></td>
			</tr>
			<tr>
				<td><img src="{{ bar:high_perf }}" /></td>
				<td><img src="{{ bar:low_perf }}" /></td>
			</tr>
		</table>
		{pubs}
	</body>
</html>
